body {
background-color: #000000;
min-height: 800px;
padding-top: 175px;
}


#bulletin{
	height : 595px;
	overflow: scroll;
}

input[type="text"] {
   height: 22px;
   font-size: 12px;
}
div.navbar.navbar-default.navbar-fixed-top {
  	background-color: #000000;  	
  	border-color: #000000;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}

.navbar-default{
    background-color: #ff0000;
    height : 30px;
    padding : 0 0 1px 0 ;
}

.navbar-default .navbar-brand {
    color:#ff0000;
    height : 30px;
    padding : 5px 0 5px 35px ;
}
a.btn.btn-primary.btn-lg{
  color: #ff0000;
  background-color: #000000;
  border-color: #000000;
  padding: 5px 20px 5px 10px;
}

.jumbotron {
	background-color : #ffff00;
    color: #ff0000;
    padding: 8px 0 8px 0;
    margin: 0 0 0 0 ;
 }
 
 h1 {
    	margin-top: 0;
		margin-bottom: 0;
    }

.row {
margin-left: 0px;
margin-right: 0px;
}



.panel-primary{
  background-color: #ffffdc ;
  border-color:  #ff0000;
  border-width: 3px
}

.panel-primary .panel-heading{
  background-color: #000000 ;
  border-color:  #ff0000;
  color: #ffff00;
  border-width: 3px
}


#chatroom{
	height : 565px;
}	

ul {
  list-style: none;
  word-wrap: break-word;
  padding-left: 0pt;
}

/* Login Page */

.login.page .usernameInput {
  	border: 1px solid #000;
 	height: 30px;
  	outline: none;
 	width : 100%;
	background-color: #FFF;
	color : #000;
  	font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  width: 100%;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}
.timeBody {
	color : gray
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 10px;
  text-align: left;
}

/* Input */

.inputMessage {
  border: 1px solid #000;
  height: 30px;
  outline: none;
  width : 100%
}
